{% extends 'base.html' %}

{% block content %}
<section class="main-section">
  <div class="system-intro">
    <p>本电影管理系统包含电影录入，电影查询，演员查询、电影分析等功能</p>
    <div class="intro-buttons">
      <a href="{{ url_for('add_movie') }}" class="intro-btn">电影录入</a>
      <a href="{{ url_for('search_movies') }}" class="intro-btn">电影查询</a>
      <a href="{{ url_for('search_actors') }}" class="intro-btn">演员查询</a>
      <a href="{{ url_for('box_office_analysis') }}" class="intro-btn">票房分析</a>
    </div>
  </div>
  <img src="{{ url_for('static', filename='wy.jpeg') }}" alt="Main Image" class="main-image">
</section>
{% endblock %}

