{% extends 'base.html' %}

{% block content %}
<p><h1 class="centered-title">演员查询功能</h1></p>
<form class="search-box" action="{{ url_for('search_actors') }}" method="post">
    <label for="actor_search">演员搜索:</label>
    <input class="search-input" type="text" id="actor_search" name="actor_search" required>
    <input class="search-button" type="submit" value="搜索">
</form>

<div class="search-actors-result">
    {% for actor in actors %}
    <div class="actor-card">
        <h2>{{ actor.name }}</h2>
        <p>国家: {{ actor.country }}</p>
        <p>作为演员出演的电影:
            {% for movie in actor.movies_as_actor %}
            {{ movie.name }} ({{ movie.year }}),
            {% endfor %}
        </p>
        <p>作为导演的电影:
            {% for movie in actor.movies_as_director %}
            {{ movie.name }} ({{ movie.year }}),
            {% endfor %}
        </p>
    </div>
    {% else %}
    <p class="no-results">没有找到相关演员。</p>
    {% endfor %}
</div>
{% endblock %}
